BraveSoftware/
Electron/
GIMP/
Insync/
Postman
QtProject.conf
Slack/
Unknown Organization/
autostart/
awesome/awesome-wm-widgets
awesome/setup/screens.lua
balena-etcher-electron
byobu
configstore
dconf/
discord/
discordcanary/
gcloud
gconf/
gh/
github-copilot/
go
google-chrome
gtk-3.0/bookmarks
htop/
klavaro
lazygit/state.yml
libfm/
menus
mimeapps.list
nvim/lazy-lock.json
onlyoffice/
pcmanfm/
pulse/
stripe
systemd
tg/
tmux/plugins/
tmux/resurrect/
tmuxp/
user-dirs.locale
user-dirs.locale/
zoomus.conf
zsh/.zcompdump
zsh/auth.cfg
zsh/secret.zsh
