BraveSoftware/
Electron/
GIMP/
Insync/
Slack/
dconf/
discord/
gconf/
gh/
gtk-2.0/
htop/
libfm/
onlyoffice/
pcmanfm/
pulse/
whatsapp-nativefier-d40211/
.gitignore/
QtProject.conf/
mimeapps.list/
user-dirs.locale/
tmux/plugins/
thefuck/__pycache__/
thefuck/rules/__pycache__/
zsh/auth.cfg
Unknown Organization/
autostart/
discordcanary/
menus
systemd
tg/
zoomus.conf
QtProject.conf
mimeapps.list
user-dirs.locale
awesome/setup/rules.lua
awesome/setup/screens.lua
zsh/.zcompdump

klavaro
lazygit/state.yml
balena-etcher-electron